# requirements.in
ansible<6.6.0
ansible-compat
ansible-core==2.13.5
ansible-lint
boto3
botocore
cryptography
dnspython
hcloud
jmespath
kubernetes-validate
molecule
molecule-docker
molecule-podman
netaddr
ruamel.yaml
pyaml
