# requirements.in
ansible-compat
ansible-core
ansible-lint<6.17
boto3
botocore
cryptography
dnspython
hcloud
jmespath
kubernetes-validate
molecule
molecule-plugins[ec2]
molecule-plugins[docker]
netaddr
ruamel.yaml
pyaml
